name: deploy-ssis

on:
  workflow_run:
    workflows: ["Setup Database and Tables"]
    types:
      - completed

jobs:
  deploy-ssis:
    runs-on: self-hosted
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set ISPAC path
        shell: cmd
        run: |
          echo ISPAC_PATH=%GITHUB_WORKSPACE%\HandsOnProject/Timesheet/SSISProject.ispac >> %GITHUB_ENV%          
          echo ISPAC_PATH is set to: %GITHUB_WORKSPACE%\HandsOnProject\Timesheet\SSISProject.ispac



      - name: Create SSIS Catalog Folder
        shell: cmd
        run: |
          sqlcmd -S SAMBE202507 -E -Q "IF NOT EXISTS(SELECT 1 FROM [SSISDB].[catalog].[folders] WHERE name = 'SSISProject') BEGIN EXEC [SSISDB].[catalog].[create_folder] @folder_name = 'SSISProject', @folder_id = NULL END"

      - name: Deploy SSIS Project
        shell: cmd
        run: |
          sqlcmd -S SAMBE202507 -E -v IspacPath="%ISPAC_PATH%" -i HandsOnProject\Timesheet\PackageDeployment.sql 

      - name: Create SQL Server Agent Job
        run: sqlcmd -S . -U ${{ secrets.SQL_USERNAME }} -P ${{ secrets.SQL_PASSWORD }} -i HandsOnProject/Timesheet/CreateAgentJob.sql

      - name: Start SQL Server Agent Job
        run: sqlcmd -S . -U ${{ secrets.SQL_USERNAME }} -P ${{ secrets.SQL_PASSWORD }} -Q "EXEC msdb.dbo.sp_start_job @job_name = N'Run_Timesheet_SSIS_Job';"
