name: deploy-ssis

on:
  workflow_run:
    workflows: ["Setup Database and Tables"]
    types:
      - completed

jobs:
  deploy-ssis:
    runs-on: self-hosted
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Deploy SSIS Project
        shell: cmd
        run: |
          set "ISPAC_PATH=%GITHUB_WORKSPACE%\HandsOnProject\Timesheet\SSISProject.ispac"
          sqlcmd -S SAMBE202507 -E -v IspacPath="%ISPAC_PATH%" -i HandsOnProject\Timesheet\PackageDeployment.sql 

      - name: Create SQL Server Agent Job
        run: sqlcmd -S . -U ${{ secrets.SQL_USERNAME }} -P ${{ secrets.SQL_PASSWORD }} -i HandsOnProject/Timesheet/CreateAgentJob.sql

      - name: Start SQL Server Agent Job
        run: sqlcmd -S . -U ${{ secrets.SQL_USERNAME }} -P ${{ secrets.SQL_PASSWORD }} -Q "EXEC msdb.dbo.sp_start_job @job_name = N'Run_Timesheet_SSIS_Job';"
