name: Deploy SQL Database

on:
  push:
    paths:
      - GitActionsDatabaseTestQuery.sql  # Runs only if this file changes
    branches:
      - main  # Runs only on the main branch
      - side  # Runs only on the side branch

jobs:
  deploy:
    runs-on: ubuntu-latest  # Runs on your local machine

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3  # Fetches the latest repo files

      - name: Execute SQL Script
        run: |
          sqlcmd -S localhost -U sa -P YourPassword -i GitActionsDatabaseTestQuery.sql
        shell: bash
